@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}
